<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Basic Blog Project</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	</head>
	<body>
		<div class="main-page">
			<div class="add-button-container">
				<a href="/add" class="add-button">
					<i class="fas fa-plus"></i> Add
				</a>
			</div>
			<div class="container">
				<h1>Basic Blog Project</h1>
				<ul>
					{% for post in posts %}
					<li class="blog-post">
						<div class="blog-post-header">
							<h2>{{ post.title }}</h2>
							<div class="blog-post-actions">
								<form action="{{url_for('update', post_id=post.id)}}">
									<button type="submit" class="update-button">Update</button>
								</form>
								<form action="{{url_for('delete', post_id=post.id)}}" method="POST">
									<button class="delete-button" type="submit" style="background-color: #dc3545">Delete</button>
								</form>
							</div>
						</div>
						<p class="author"><strong>Author:</strong> {{ post.author }}</p>
						{% if post.content|length <= 300 %}
    						<p class="post-content">{{ post.content }}</p>
						{% else %}
    						<p class="post-content">{{ post.content[:300] }}...</p>
    						<a href="/post/{{ post.id }}">Read More</a>
						{% endif %}
						<!--<p>{{ post.content }}</p>-->
						<div class="blog-post-footer">
							<div class="blog-post-footer-action">
								<form action="{{url_for('like', post_id=post.id)}}" method="POST">
									<button type="submit" class="like-button" style="background-color: transparent;">
										<i class="far fa-thumbs-up" style="color: #007bff;"></i>
										<span class="like-count" id="like-count-{{ post.id }}" style="color: #333; font-size: 14px;">{{ post.likes }}</span>
									</button>
								</form>
							</div>

						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</body>
</html>
